details {
    interpolate-size: allow-keywords;
    overflow: clip;
    border-radius: 0.25rem;
    
    .detail-body {
        position: relative;
        
        .vertical-line {
            position: absolute;
            top: 0;
            left: 0;
            width: 1px;
            border-left: 1px dotted #000;
            height: 0;
        }
    }
}

summary {
    display: block;
    cursor: pointer;
    position: relative;
    border-radius: 4px;
    background-color: #fff0;
    padding: 0.5rem 0rem ;
}
summary .tree-header-wrapper {
    display: flex;
    gap: 1rem;
}


details > summary:hover,
details > summary:focus  {
    background-color: #bbb;
}

details[open]::details-content {
    height: auto;
}

details .tree-body {
    padding: 0.5rem 0rem 0.5rem 1rem;
}

details::details-content {
    height: 0;
    overflow-y: clip;
    transition:
        content-visibility 475ms allow-discrete,
        height 475ms;
}

// details main {
//     padding: 1em 2.2em;
// }

.tree-horizontal-line {
  position: relative;
}

.tree-horizontal-line::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -1rem;
  width: 1rem;
  border-top: 1px dotted #000;
  transform: translateY(-50%);
}